
<!DOCTYPE html>
<html>
<head>
    <title>My Photo Gallery</title>
    <link rel="stylesheet" href="photos.css">
</head>
<body>

<h2>Responsive Image Gallery</h2>

<h4>Resize the browser window to see the effect.</h4>

<div class="responsive">
  <div class="gallery">
        <img src="../photos/me.jpg" alt="Me at the Vancouver aquarium with the jellyfish" width="600" height="500">
    <div class="desc">Add a description of the image here</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
        <img src="../photos/IMG-0135.jpg" alt="Me at the Vancouver aquarium holding an armadillo" width="600" height="500">
    <div class="desc">Add a description of the image here</div>
  </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../photos/IMG-0462.jpg" alt="Bison that were spotted in North Dakota" width="600" height="500">
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
        <img src="../photos/IMG-0435.jpg" alt="Donkeys spotted attacking a car for carrots in North Dakota" width="600" height="500">
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>
  
  <div class="clearfix"></div>
  
  <a href="../index.html">Click to go back to main page</a>
  
  </body>
  </html>